// 字體
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto','Noto Sans TC', sans-serif;
    line-height: 1.5;
    h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 ,p{
        margin-bottom: 0;
    }
}
*,*:before,*:after{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container {
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
    /* 依照設計稿 PC 版：
     * 容器寬度為 1296px，因為有設定為 border-box，所以整體寬度需加上左右 padding
     * 整體 container 寬度為 1296px + 12px*2 = 1320px */
}

