<div class="footer bg-primary">
    <div class="container">
        <div class="pt-8">
            <div class="row">
                <div class="col-9 col-sm-9 col-md-8 d-sm-flex align-items-center mb-5 d-sm-nav1-none">
                    <ul class="navbar-nav flex-row">
                        <li class="me-8"><a href="index.html" class="text-white">首頁</a></li>
                        <li class="me-8"><a href="products.html" class="text-white">系列鏡框</a></li>
                        <li class="me-8"><a href="pages/location.html" class="text-white">門市據點</a></li>
                        <li class="me-8"><a href="#" class="text-white">部落格</a></li>
                        <li class="me-8"><a href="#" class="text-white">常見問題</a></li>
                    </ul>
                </div>
                <div class="col-6 order-1 order-sm-0 col-sm-3 col-md-4 d-flex justify-content-end align-items-center mb-sm-5 mb-2">
                    <ul class="navbar-nav flex-row">
                        <li class="ms-3 ms-md-6">
                            <a href="#"><img src="../assets/images/ic-social-fb.png" alt="FB" class="social-icon"></a>
                        </li>
                        <li class="ms-3 ms-md-6">
                            <a href="#"><img src="../assets/images/ic_social_ig.png" alt="IG" class="social-icon"></a>
                        </li>
                        <li class="ms-3 ms-md-6">
                            <a href="#"><img src="../assets/images/ic_social_line.png" alt="LINE" class="social-icon"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-sm-12 mb-2">
                    <ul class="navbar-nav d-flex flex-row align-items-center">
                        <li class="d-flex align-items-center">
                            <span class="material-symbols-outlined text-white icon-call">
                                call
                            </span>
                            <a href="#" class="text-white fs-16 fs-4" type="tel">0800-000-000</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 order-3">
                    <ul class="navbar-nav flex-md-row border-bottom pb-5">
                        <li class="d-flex align-items-center">
                            <span class="material-symbols-outlined icon-email text-white">
                                email
                            </span>
                            <a href="#" class="text-white fs-16 fs-4" type="email">glasses@business.com</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row align-items-center py-sm-6 pt-3 pb-5">
                <div class="col-12 col-sm-6">
                    <div class="text-white">
                        Copyright © 2020 Glasses.All rights reserved.
                    </div>
                </div>
                <div class="col-12 col-sm-6 ">
                    <ul class="navbar-nav flex-sm-row justify-content-sm-end">
                        <li class="d-flex align-items-center mt-2">
                            <a href="#" class="text-white">
                                <small>隱私權政策</small>
                            </a>
                        </li>
                        <li class="d-flex align-items-center ms-sm-8 pe-sm-0 mt-2">
                            <a href="#" class="text-white">
                                <small>服務條款</small>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>