<div class="header bg-primary">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-1">
                <h1 class="logo"><a href="#"><img
                    src="../assets/images/logo-white.png"
                    alt="glasses-logo"></a></h1>
            </div>
            <div class="col-11">
                <ul class="navbar-nav flex-md-row justify-content-end">
                    <li><a href="#" class="text-white">系列鏡框</a></li>
                    <li><a href="#" class="text-white">門市據點</a></li>
                    <li><a href="#" class="text-white">部落格</a></li>
                    <li><a href="#" class="text-white">常見問題</a></li>
                </ul>
            </div>
          </div>


    </div>
</div>