<div class="header bg-primary">
    <div class="container">
        <div class="row d-flex align-items-center flex-sm-nowrap">
            <div class="col-12 col-sm-2 col-md-1">
                <h1 class="logo"><a href="#"><img
                    src="../assets/images/logo-white.png"
                    alt="glasses-logo"></a></h1>
            </div>
            <div class="col-12 col-sm-10 col-md-11">
                <ul class="navbar-nav flex-row justify-content-sm-end flex-sm-nowrap flex-wrap">
                    <li><a href="#" class="text-white">系列鏡框</a></li>
                    <li><a href="#" class="text-white">門市據點</a></li>
                    <li><a href="#" class="text-white">部落格</a></li>
                    <li><a href="#" class="text-white">常見問題</a></li>
                </ul>
            </div>
          </div>


    </div>
</div>