<div class="header bg-primary">
    <div class="container">
        <div class="row d-flex align-items-center flex-sm-nowrap gx-0">
            <div class="col-12 col-sm-2 col-xl-1 gx-0 gx-sm-5">
                <h1 class="logo"><a href="pages/index.html"><img
                    src="../assets/images/logo-white.png"
                    alt="glasses-logo" style="width: 80px;height: 50px;"></a></h1>
            </div>
            <div class="col-12 col-sm-10 col-xl-11 gx-0 gx-sm-5">
                <ul class="navbar-nav flex-row justify-content-sm-end flex-sm-nowrap flex-wrap">
                    <li><a href="products.html" class="text-white">系列鏡框</a></li>
                    <li><a href="location.html" class="text-white">門市據點</a></li>
                    <li><a href="#" class="text-white">部落格</a></li>
                    <li><a href="#" class="text-white">常見問題</a></li>
                </ul>
            </div>
          </div>
    </div>
</div>