.footer .container{
  .social-icon{
    width: 48px;
    height: 48px;
    @include pad{
      width: 40px;
      height: 40px;
    }
    @include pad-sm{
      width: 24px;
      height: 24px;
    }
  }
  .icon-call, .icon-email{
    margin-right: 22px;
    font-size: 36px;
  }
}

.d-sm-nav1-none{
  @include pad-sm{
    display: none;
  }
}
.icon-call{
  @include pad-sm{
    margin-right: 11px !important;
    font-size: 18px !important;
  }
}
.icon-email{
  @include pad-sm{
    margin-right: 11px !important;
    font-size: 20px !important;
  }
}
