.header{
  background: $primary;
  .row {
    margin-left: -12px;
    margin-right: -12px;
    .navbar-nav{
      li{
        a{
          font-size: 20px;
          padding: 25px 0 25px 64px;
        }
      }
    }
  }
}