.header .container {
  @include pad-sm{
    padding: 0;
  }
  .row{
    .logo{
      padding: 12px 0;
      @include pad-sm{
        padding: 15px 16px;
      }
    }
    .navbar-nav{
      .navbar-item{
        @include pad-sm{
          width: 50%;
        }
      }
      .navbar-link{
        font-size: 20px;
        padding: 25px 0 25px 64px;
        @include pad-sm{
          font-size: 16px;
          display: block;
          padding: 0;
          text-align: center;
          padding-top: 12px;
          padding-bottom: 12px;
          border: 1px solid #FFF;
        }
      }
    }
  }
}
//以下會造成有X軸問題待問
@media(min-width:576px){
  .header .container{
    .row {
      margin-right: -12px;
      margin-left: -12px;
    }
  }
}
@media(min-width:575px){
  .header .container{
    .row {
      margin-right: 0px;
      margin-left: 0px;
    }
  }
}