$font-weight-black:900;
.blog-nav{
    @include pad-sm{
        display: none !important;
      }
}
.nav-link2{
    padding-top: 13px;
    padding-bottom: 13px;
}
.fw-black{
    font-weight: $font-weight-black;
}
// 無法變更大小
// .material-symbols-outlined{
//     font-size: 38px !important;
//     @include pad-sm{
//         font-size: 24px !important;
//       }
// }
