.mt-40{
  @include pad-sm{
      margin-top: 40px;
    }
}
.faq-title{
    @include mobile{
        margin-top: $spacer*2.5 !important;
        margin-bottom: $spacer*1.5 !important;
      }
}
.faq-qus{
    @include mobile{
        margin-bottom: $spacer*1.5 !important;
      }
}
.faq-qu5{
    @include mobile{
        margin-bottom: $spacer*4 !important;
      }
}