<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="banner">
      <div class="container">
        <div class="banner-content">
          <h3 class="text-secondary">Promise-Desert 2020 早春系列</h3>
          <h2 class="text-secondary">看得清，才能看得遠</h2>
          <a href="#" type="button" class="btn bg-primary text-white">立即購買</a>
        </div>
      </div>
    </div>
    <div class="product-service bg-success">
      <div class="container">
        <div class="py-12">
          <h3 class="text-center mb-7 text-secondary fw-bold">用專業的心，做專業的事</h3>
          <div class="row">
            <div class="col-3">
              <a href="#" class="text-center mb-5"><img src="../assets/images/home-section2-1.png" alt="單一價格"></a>
              <p class="text-secondary text-center fs-8 mb-2 fw-bold">單一價格</p>
              <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
            </div>
            <div class="col-3">
              <a href="#" class="text-center mb-5"><img src="../assets/images/home-section2-2.png" alt="20 分鐘即可取件"></a>
              <p class="text-secondary text-center fs-8 mb-2 fw-bold">20 分鐘即可取件</p>
              <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
            </div>
            <div class="col-3">
              <a href="#" class="text-center mb-5"><img src="../assets/images/home-section2-3.png" alt="安心售後服務"></a>
              <p class="text-secondary text-center fs-8 mb-2 fw-bold">安心售後服務</p>
              <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
            </div>
            <div class="col-3">
              <a href="#" class="text-center mb-5"><img src="../assets/images/home-sectioin2-4.png" alt="關於鏡片"></a>
              <p class="text-secondary text-center fs-8 mb-2 fw-bold">關於鏡片</p>
              <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="active-classic-collection">
      <div class="container">
        <div class="py-12 text-center">
          <h3 class="mb-8 text-secondary fw-bold">經典系列鏡框</h3>
          <div class="row">
            <div class="col-4">
              <a href="#" class="mb-2"><img src="../assets/images/home-section3-1.png" alt="OPTICAL"></a>
              <div class="h3 text-primary fst-italic fw-bold">OPTICAL</div>
            </div>
            <div class="col-4">
              <a href="#" class="mb-2"><img src="../assets/images/home-section3-2.png" alt="SUNGLASSES"></a>
              <div class="h3 text-primary fst-italic fw-bold">SUNGLASSES</div>
            </div>
            <div class="col-4">
              <a href="#" class="mb-2"><img src="../assets/images/home-section3-3.png" alt="FUNCTIONAL"></a>
              <div class="h3 text-primary fst-italic fw-bold">FUNCTIONAL</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="active-Co-branded">
      <div class="container">
        <div class="py-12 text-center">
          <h3 class="mb-8 text-white fw-bold">聯名設計鏡框</h3>
          <div class="mx-g-12">
            <div class="row g-0">
              <div class="col-6">
                <a href="#"><img src="../assets/images/home-section4-1.png" alt="DOUBLE A+"></a>
                <div class="h3 text-primary bg-white fst-italic fw-bold py-2">DOUBLE A+</div>
              </div>
              <div class="col-6">
                <a href="#"><img src="../assets/images/home-section4-2.png" alt="YOUTH"></a>
                <div class="h3 text-primary bg-white fst-italic fw-bold py-2">YOUTH</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="customer-feedback">
      <div class="container">
        <div class="py-12">
          <h3 class="mb-8 text-secondary fw-bold text-center">顧客推薦</h3>
          <div class="row row-cols-4 g-4">
            <div class="col">
              <div class="card h-100">
                <a href="#"><img src="../assets/images/home-section5-1.png" class="card-img-top" alt="Jessy"></a>
                <div class="card-body">
                  <p class="fw-medium mb-2">Jessy</p>
                  <p class="card-text">眼鏡品質優良，下次還會想來這邊購買！</p>
                </div>
                <div class="card-footer border-0 bg-white">
                  <small>2021/06/20</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <a href="#"><img src="../assets/images/home-section5-2.png" class="card-img-top" alt="凱倫"></a>
                <div class="card-body">
                  <p class="fw-medium mb-2">凱倫</p>
                  <p class="card-text mb-11">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                </div>
                <div class="card-footer border-0 bg-white">
                  <small>2021/04/18</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <a href="#"><img src="../assets/images/home-section5-3.png" class="card-img-top" alt="悠悠"></a>
                <div class="card-body">
                  <p class="fw-medium mb-2">悠悠</p>
                  <p class="card-text mb-11">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                </div>
                <div class="card-footer border-0 bg-white">
                  <small>2020/12/25</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <a href="#"><img src="../assets/images/home-section5-4.png" class="card-img-top" alt="Kyuan"></a>
                <div class="card-body">
                  <p class="fw-medium mb-2">Kyuan</p>
                  <p class="card-text mb-11">服務很好，品質沒有任何問題，非常喜歡。</p>
                </div>
                <div class="card-footer border-0 bg-white">
                  <small>2021/06/20</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact bg-success">
      <div class="container">
        <div class="py-12">
          <h3 class="mb-8 text-secondary fw-bold text-center">聯絡我們</h3>
          <form>
            <div class="row row-cols-1 justify-content-center">
              <div class="col-6">
                <p class="mb-5">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
              </div>
            </div>
            <div class="row row-cols-1 justify-content-center">
              <div class="col-6">
                <label for="inputName" class="form-label ms-1">姓名</label>
                <input type="name" class="form-control mb-3" id="inputName" placeholder="陳小明">
              </div>
            </div>
            <div class="row row-cols-1 justify-content-center">
              <div class="col-6">
                <label for="inputTel" class="form-label ms-1">聯絡電話</label>
                <input type="tel" class="form-control mb-3" id="inputTel" placeholder="0912-345-678">
              </div>
            </div>
            <div class="row row-cols-1 justify-content-center">
              <div class="col-6">
                <label for="inputEmail4" class="form-label ms-1">電子郵件</label>
                <input type="email" class="form-control mb-3" id="inputEmail4" placeholder="example@email.com">
              </div>
            </div>
            <div class="row row-cols-1 justify-content-center">
              <div class="col-6">
                <label for="inputOpinion" class="form-label ms-1">意見反應</label>
                <textarea type="text" class="form-control" id="inputOpinion" placeholder="請輸入您的意見" style="height: 136px;"></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>