<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>門市據點</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="container">
      <h3 class="fs-3 mt-13 mb-6 border-left-primary fw-bold">門市據點</h3>
      <div class="d-flex mb-40">
        <p class="fs-6 me-3">選擇地區</p>
        <select class="form-select w-30" aria-label="Default select example">
          <option selected>台北市</option>
          <option value="1">台北市</option>
          <option value="2">台中市</option>
          <option value="3">高雄市</option>
          <option value="4">台南市</option>
        </select>
      </div>
      <div class="location-list mb-6">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
          <div class="col pb-8">
            <div class="card h-100">
              <img src="../assets/images/store-1.png" class="card-img-top" alt="台北中山旗艦店">
              <div class="card-body px-5 pb-2">
                <p class="card-title fs-6 mb-0">台北中山旗艦店</p>
              </div>
              <ul class="card-text px-5 py-3 mb-0 border-top-primary">
                <li class="d-flex align-items-center mb-2">
                  <span class="material-symbols-outlined" style="width: 18px; height: 18px;">
                    call </span>
                  <div class="d-flex m-s-11">
                    <p class="fs-8">電話：</p>
                    <a href="#" class="fs-8 text-black" type="tel">(02)000-1234</a>
                  </div>
                </li>
                <li class="d-flex align-items-center mb-2">
                    <span class="material-symbols-outlined"
                    style="width: 18px; height: 18px;">
                      schedule
                      </span>
                  <div class="d-flex m-s-11">
                    <p class="fs-8">營業時間：10:00-21:00</p>
                  </div>
                </li>
                <li class="d-flex align-items-start">
                    <span class="material-symbols-outlined" style="width: 18px; height: 18px;">
                      location_on
                      </span>
                  <div class="d-flex m-s-11">
                    <a href="#" class="fs-8 text-black" type="address">地址：台北市中山區南京東路25巷2-1號</a>
                  </div>
                </li>
              </ul>
              <a href="location-single.html" class="btn btn2 bg-black text-white text-center py-3 fs-19 rounded-0" type="button">詳細資訊</a>
            </div>
          </div>
          <div class="col pb-8">
            <div class="card h-100">
              <img src="../assets/images/store-2.png" class="card-img-top" alt="台北綠園店">
              <div class="card-body px-5 pb-2">
                <p class="card-title fs-6 mb-0">台北綠園店</p>
              </div>
              <ul class="card-text px-5 py-3 mb-0 border-top-primary">
                <li class="d-flex align-items-center mb-2">
                  <span class="material-symbols-outlined" style="width: 18px; height: 18px;">
                    call </span>
                  <div class="d-flex m-s-11">
                    <p class="fs-8">電話：</p>
                    <a href="#" class="fs-8 text-black" type="tel">(02)000-2345</a>
                  </div>
                </li>
                <li class="d-flex align-items-center mb-2">
                    <span class="material-symbols-outlined"
                    style="width: 18px; height: 18px;">
                      schedule
                      </span>
                  <div class="d-flex m-s-11">
                    <p class="fs-8">營業時間：10:00-21:00</p>
                  </div>
                </li>
                <li class="d-flex align-items-start">
                    <span class="material-symbols-outlined" style="width: 18px; height: 18px;">
                      location_on
                      </span>
                  <div class="d-flex m-s-11">
                    <a href="#" class="fs-8 text-black" type="address">地址：台北市中正區復興南路 132-1 號</a>
                  </div>
                </li>
              </ul>
              <a href="location-single.html" class="btn btn2 rounded-0 bg-black text-white text-center py-3 fs-19" type="button">詳細資訊</a>
            </div>
          </div>
          <div class="col pb-8">
            <div class="card h-100">
              <img src="../assets/images/store-3.png" class="card-img-top" alt="台中清水旗艦店">
              <div class="card-body px-5 pb-2">
                <p class="card-title fs-6 mb-0">台中清水旗艦店</p>
              </div>
              <ul class="card-text px-5 py-3 mb-0 border-top-primary">
                <li class="d-flex align-items-center mb-2">
                  <span class="material-symbols-outlined" style="width: 18px; height: 18px;">
                    call </span>
                  <div class="d-flex m-s-11">
                    <p class="fs-8">電話：</p>
                    <a href="#" class="fs-8 text-black" type="tel">(02)000-1234</a>
                  </div>
                </li>
                <li class="d-flex align-items-center mb-2">
                    <span class="material-symbols-outlined"
                    style="width: 18px; height: 18px;">
                      schedule
                      </span>
                  <div class="d-flex m-s-11">
                    <p class="fs-8">營業時間：10:00-21:00</p>
                  </div>
                </li>
                <li class="d-flex align-items-start">
                    <span class="material-symbols-outlined" style="width: 18px; height: 18px;">
                      location_on
                      </span>
                  <div class="d-flex m-s-11">
                    <a href="#" class="fs-8 text-black" type="address">地址：台中市清水區經南一路 23 號 8 樓</a>
                  </div>
                </li>
              </ul>
              <a href="location-single.html" class="btn btn2 rounded-0 bg-black text-white text-center py-3 fs-19" type="button">詳細資訊</a>
            </div>
          </div>
          <div class="col pb-8">
            <div class="card h-100">
              <img src="../assets/images/store-4.png" class="card-img-top" alt="高雄中正形象店">
              <div class="card-body px-5 pb-2">
                <p class="card-title fs-6 mb-0">高雄中正形象店</p>
              </div>
              <ul class="card-text px-5 py-3 mb-0 border-top-primary">
                <li class="d-flex align-items-center mb-2">
                  <span class="material-symbols-outlined" style="width: 18px; height: 18px;">
                    call </span>
                  <div class="d-flex m-s-11">
                    <p class="fs-8">電話：</p>
                    <a href="#" class="fs-8 text-black" type="tel">(07)000-2345</a>
                  </div>
                </li>
                <li class="d-flex align-items-center mb-2">
                    <span class="material-symbols-outlined"
                    style="width: 18px; height: 18px;">
                      schedule
                      </span>
                  <div class="d-flex m-s-11">
                    <p class="fs-8">營業時間：10:00-21:00</p>
                  </div>
                </li>
                <li class="d-flex align-items-start">
                    <span class="material-symbols-outlined" style="width: 18px; height: 18px;">
                      location_on
                      </span>
                  <div class="d-flex m-s-11">
                    <a href="#" class="fs-8 text-black" type="address">地址：高雄市苓雅區中正路 38 號 12 樓</a>
                  </div>
                </li>
              </ul>
              <a href="#" class="btn btn2 rounded-0 bg-black text-white text-center py-3 fs-19" type="button">詳細資訊</a>
            </div>
          </div>
          <div class="col pb-8">
            <div class="card h-100">
              <img src="../assets/images/store-5.png" class="card-img-top" alt="高雄夢時代店">
              <div class="card-body px-5 pb-2">
                <p class="card-title fs-6 mb-0">高雄夢時代店</p>
              </div>
              <ul class="card-text px-5 py-3 mb-0 border-top-primary">
                <li class="d-flex align-items-center mb-2">
                  <span class="material-symbols-outlined" style="width: 18px; height: 18px;">
                    call </span>
                  <div class="d-flex m-s-11">
                    <p class="fs-8">電話：</p>
                    <a href="#" class="fs-8 text-black" type="tel">(07)000-1234</a>
                  </div>
                </li>
                <li class="d-flex align-items-center mb-2">
                    <span class="material-symbols-outlined"
                    style="width: 18px; height: 18px;">
                      schedule
                      </span>
                  <div class="d-flex m-s-11">
                    <p class="fs-8">營業時間：10:00-21:00</p>
                  </div>
                </li>
                <li class="d-flex align-items-start">
                    <span class="material-symbols-outlined" style="width: 18px; height: 18px;">
                      location_on
                      </span>
                  <div class="d-flex m-s-11">
                    <a href="#" class="fs-8 text-black" type="address">地址：高雄市前鎮區中華一路 63 號 6 樓</a>
                  </div>
                </li>
              </ul>
              <a href="#" class="btn btn2 rounded-0 bg-black text-white text-center py-3 fs-19" type="button">詳細資訊</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>