<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>系列鏡框:OPTICAL</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container p-0">
      <ul class="nav w-100 text-center">
        <li class="nav-item border active w-33 border-bottom-primary">
          <a class="nav-link d-block text-black fs-5 px-0 py-3 py-md-5 fw-medium" aria-current="page"
            href="optical.html">OPTICAL</a>
        </li>
        <li class="nav-item d-block border w-33 border-bottom-primary">
          <a class="nav-link text-black fs-5 py-md-5 px-0 py-3 fw-medium" href="sunglasses.html">SUNGLASSES</a>
        </li>
        <li class="nav-item d-block border w-33 border-bottom-primary">
          <a class="nav-link text-black fs-5 py-md-5 px-0 py-3 fw-medium" href="#">FUNCTIONAL</a>
        </li>
      </ul>
    </div>
    <div class="products-banner mb-12">
      <ul class="d-flex list-unstyled">
        <li><a href="#" class="d-none d-sm-flex"><img src="../assets/images/product-header-1.png" alt="product-header-1"></a>
          <a href="#" class="d-sm-none"><img src="../assets/images/product-header-sm-1.png" alt="product-header-sm--1"></a>
        </li>
        <li>
          <a href="#" class="d-none d-sm-flex"><img src="../assets/images/product-header-2.png" alt="product-header-2"></a>
          <a href="#" class="d-sm-none"><img src="../assets/images/product-header-sm-2.png" alt="product-header-sm-2"></a>
        </li>
      </ul>
    </div>
    <div class="container">
      <div class="optical-CelluloidCombi">
        <div class="text-center">
          <h4 class="fs-42">Celluloid Combi</h4>
          <h5 class="fs-5 mb-6">賽璐珞鈦金屬混合鏡框</h5>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-5 mt-0">
          <div class="col mb-12 mt-0">
            <div class="card border-0 h-100">
              <img src="../assets/images/product-1.png" class="card-img-top" alt="product-1">
              <div class="card-body p-0">
                <div class="card-text d-flex justify-content-between">
                  <p class="fs-6">BJ41600S</h5>
                  <p class="fs-6 text-primary fw-medium">NTD3,490</p>
                </div>
                <div class="d-flex">
                  <div class="box box1 me-2"></div>
                  <div class="box box2"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-12 mt-0">
            <div class="card border-0 h-100">
              <img src="../assets/images/product-2.png" class="card-img-top" alt="product-2">
              <div class="card-body p-0">
                <div class="card-text d-flex justify-content-between">
                  <p class="fs-6">BJ41600S</h5>
                  <p class="fs-6 text-primary fw-medium">NTD3,490</p>
                </div>
                <div class="d-flex">
                  <div class="box box1 me-2"></div>
                  <div class="box box2"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-12 mt-0">
            <div class="card border-0 h-100">
              <img src="../assets/images/product-3.png" class="card-img-top" alt="product-3">
              <div class="card-body p-0">
                <div class="card-text d-flex justify-content-between">
                  <p class="fs-6">BJ41600S</h5>
                  <p class="fs-6 text-primary fw-medium">NTD3,490</p>
                </div>
                <div class="d-flex">
                  <div class="box box1 me-2"></div>
                  <div class="box box2"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-12 mt-0">
            <div class="card border-0 h-100">
              <img src="../assets/images/product-4.png" class="card-img-top" alt="product-4">
              <div class="card-body p-0">
                <div class="card-text d-flex justify-content-between">
                  <p class="fs-6">BJ41600S</h5>
                  <p class="fs-6 text-primary fw-medium">NTD3,490</p>
                </div>
                <div class="d-flex">
                  <div class="box box1 me-2"></div>
                  <div class="box box2"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-12 mt-0">
            <div class="card border-0 h-100">
              <img src="../assets/images/product-5.png" class="card-img-top" alt="product-5">
              <div class="card-body p-0">
                <div class="card-text d-flex justify-content-between">
                  <p class="fs-6">BJ41600S</h5>
                  <p class="fs-6 text-primary fw-medium">NTD3,490</p>
                </div>
                <div class="d-flex">
                  <div class="box box1 me-2"></div>
                  <div class="box box2"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-12 mt-0">
            <div class="card border-0 h-100">
              <img src="../assets/images/product-6.png" class="card-img-top" alt="product-6">
              <div class="card-body p-0">
                <div class="card-text d-flex justify-content-between">
                  <p class="fs-6">BJ41600S</h5>
                  <p class="fs-6 text-primary fw-medium">NTD3,490</p>
                </div>
                <div class="d-flex">
                  <div class="box box1 me-2"></div>
                  <div class="box box2"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-12 mt-0">
            <div class="card border-0 h-100">
              <img src="../assets/images/product-7.png" class="card-img-top" alt="product-7">
              <div class="card-body p-0">
                <div class="card-text d-flex justify-content-between">
                  <p class="fs-6">BJ41600S</h5>
                  <p class="fs-6 text-primary fw-medium">NTD3,490</p>
                </div>
                <div class="d-flex">
                  <div class="box box1 me-2"></div>
                  <div class="box box2"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-12 mt-0">
            <div class="card border-0 h-100">
              <img src="../assets/images/product-8.png" class="card-img-top" alt="product-8">
              <div class="card-body p-0">
                <div class="card-text d-flex justify-content-between">
                  <p class="fs-6">BJ41600S</h5>
                  <p class="fs-6 text-primary fw-medium">NTD3,490</p>
                </div>
                <div class="d-flex">
                  <div class="box box1 me-2"></div>
                  <div class="box box2"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-12 mt-0">
            <div class="card border-0 h-100">
              <img src="../assets/images/product-9.png" class="card-img-top" alt="product-9">
              <div class="card-body p-0">
                <div class="card-text d-flex justify-content-between">
                  <p class="fs-6">BJ41600S</h5>
                  <p class="fs-6 text-primary fw-medium">NTD3,490</p>
                </div>
                <div class="d-flex">
                  <div class="box box1 me-2"></div>
                  <div class="box box2"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-12 mt-0">
            <div class="card border-0 h-100">
              <img src="../assets/images/product-10.png" class="card-img-top" alt="product-10">
              <div class="card-body p-0">
                <div class="card-text d-flex justify-content-between">
                  <p class="fs-6">BJ41600S</h5>
                  <p class="fs-6 text-primary fw-medium">NTD3,490</p>
                </div>
                <div class="d-flex">
                  <div class="box box1 me-2"></div>
                  <div class="box box2"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-12 mt-0">
            <div class="card border-0 h-100">
              <img src="../assets/images/product-11.png" class="card-img-top" alt="product-11">
              <div class="card-body p-0">
                <div class="card-text d-flex justify-content-between">
                  <p class="fs-6">BJ41600S</h5>
                  <p class="fs-6 text-primary fw-medium">NTD3,490</p>
                </div>
                <div class="d-flex">
                  <div class="box box1 me-2"></div>
                  <div class="box box2"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-12 mt-0">
            <div class="card border-0 h-100">
              <img src="../assets/images/product-12.png" class="card-img-top" alt="product-12">
              <div class="card-body p-0">
                <div class="card-text d-flex justify-content-between">
                  <p class="fs-6">BJ41600S</h5>
                  <p class="fs-6 text-primary fw-medium">NTD3,490</p>
                </div>
                <div class="d-flex">
                  <div class="box box1 me-2"></div>
                  <div class="box box2"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center mb-12">
          <li class="page-item border-light">
            <a class="page-link rounded-0 page-fs-19 text-light">上一頁</a>
          </li>
          <li class="page-item border-light"><a class="page-link rounded-0 text-light" href="#">1</a></li>
          <li class="page-item active border-light"><a class="page-link rounded-0 border-light bg-black" href="#">2</a></li>
          <li class="page-item border-light"><a class="page-link rounded-0 text-light" href="#">3</a></li>
          <li class="page-item border-light"><a class="page-link rounded-0 text-light" href="#">4</a></li>
          <li class="page-item border-light"><a class="page-link rounded-0 text-light" href="#">5</a></li>
          <li class="page-item border-light">
            <a class="page-link rounded-0 text-light page-fs-19" href="#">下一頁</a>
          </li>
        </ul>
      </nav>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
